* {
    text-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-window {
    background: #C3C9D5;
}

.login-grid {
    background: white;
    padding: 16px;
}

.login-image {
    margin: 32px;
}

.input-box {
    border: 1px solid #0074D9;
    border-radius: 0px;
    outline: none;
}

.login-btn {
    font-weight: bold;
    color: white;
    border: 0px;
    border-radius: 0px;
    background: #0074D9;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all .2s;
}

.login-btn:hover {
    color: #272727;
}

.guest-btn {
    font-weight: bold;
    color: white;
    border: 0px;
    border-radius: 0px;
    background: #aaaaaa;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all .2s;
}

.guest-btn:hover {
    color: #272727;
}

.register-btn {
    background: white;
    border: 1px solid white;
    border-radius: 0px;
    transition: all .2s;
    outline: none;
}

.register-btn:hover {
    color: #0074D9;
    border: 1px solid #f2f2f2;
}

.header {
    background: #F6F7FB;
    color: #F6F7FB
}

.middle-spacing {
    background: #F6F7FB;
}

.header-btn {
    background: #F6F7FB;
    color: #393D46;
    border: 0px solid #F6F7FB;
    border-radius: 0px;
    box-shadow: none;
    transition: all .1s;
}

.header-btn:hover {
    color: #0074D9;
}

.brach-name {
    margin: 24px;
    border: 0px;
    min-width: 80px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px;
    color: #393D46;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-btn-login {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 24px;
    border: 0px;
    min-width: 80px;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 0px;
    color: white;
    background: #393D46;
}

.header-btn-login:hover {
    background: #272727;
}

.left-side-panel {
    background: #F6F7FB;
}

.hotProductShowCase {
    background: #ffffff;
    margin-top: 40px;
}

.hotProductShowCaseImage {
    margin: 40px;
}

.hotProductShowCaseName {
    font-family: Calibri Light;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hotProductShowCaseData {
    margin: 40px
}

.color-selection {
    min-width: 0;
    min-height: 0;
    padding: 10px;
    border: 0px;
    border-radius: 50px;
    background: #272727;
    box-shadow: none;
}

.buyNow {
    min-width: 80px;
    min-height: 40px;
    background: #F6F7FB;
    border: 2px solid #393D46;
    box-shadow: none;
    border-radius: 0px;
    transition: all .1s;
    margin-top: 20px;
}

.buyNow:hover {
    color: #F6F7FB;
    background: #393D46;
    border: 2px solid #393D46;
}

.size-selection {
    min-width: 20px;
    padding: 2px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 20px;
    background: #F6F7FB;
    border: 1px solid #393D46;
    box-shadow: none;
    border-radius: 0px;
}

.size-selection:hover {
    background: #393D46;
    color: #F6F7FB;
}

.addToCart {
    margin-top: 20px;
    border: 2px solid #393D46;
    background: #393D46;
    color: #F6F7FB;
    border: 2px solid #393D46;
    box-shadow: none;
    border-radius: 0px;
    min-width: 80px;
    min-height: 40px;
    transition: all .1s;
}

.addToCart:hover {
    background: #F6F7FB;
    color: #393D46;
}

.selection-title {
    font-weight: bold;
    font-size: 15px;
}

.burger-menu {
    border: 0px;
    border-radius: 0px;
    background: #393D46;
    color: #F6F7FB;
}

.scroll-products {
    margin-top: 10px;
    border: 1px solid #F6F7FB;
}

.products-scroll-area {
    /* background color */
    background-color: #F6F7FB;
    box-shadow: none;
    border: 0px;
}

.products-grid-area {
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.left-side-icon {
    padding: 0px;
    min-width: 0px;
    min-height: 0px;
    background: #F6F7FB;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
    outline: none
}

.left-side-icon:hover {
    background: #F6F7FB;
}

.font-color-red {
    color: red;
}

.font-color-black {
    color: black;
}

.font-color-green {
    color: green;
}

.register-log {
    color: black;
}

.popup-menu {
    background: #ffffff;
    border: 0px;
    border-radius: 0px;
}

.popup-grid {
    background: #ffffff;
    border: 0px;
    border-radius: 0px;
    margin: 5px;
}

.popup-grid>* {
    background: #ffffff;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 10px;
    padding: 10px;
}

.popup-grid>*:hover {
    background: #f2f2f2;
}

.adm_main_window {
    background: white;
}

.adm_main_container {
    background: white;
}

.adm_stack {
    background: #F6F7FB;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.adm_user_slot {
    padding: 16px;
}

.adm_user_slot-index {
    background: #393D46;
    color: #F6F7FB;
    margin: 16px;
}

.adm_user_slot-entry {
    border: 2px solid #393D46;
    background: #F6F7FB;
    color: #393D46;
    box-shadow: none;
    border-radius: 0px;
    margin: 16px;
}

.adm_user_slot-save {
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: #01FF70;
    margin: 16px;
}

.adm_user_slot-save:hover {
    background: #2ECC40;
}

.adm_user_slot-col {
    margin: 16px;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

.adm_user_slot-del {
    margin: 16px;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: #FF4136;
}

.adm_user_slot-del:hover {
    background: #FF851B;
}

.adm_user_slot_btn {
    margin: 20px;
    border: 2px solid #393D46;
    background: #393D46;
    color: #F6F7FB;
    box-shadow: none;
    border-radius: 0px;
    min-height: 40px;
    transition: all .1s;
}

.adm_user_slot_btn:hover {
    background: #F6F7FB;
    color: #393D46;
}

.adm_user-viewport {
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    background-color: #F6F7FB;
}

.adm_user_scroll {
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    background-color: #F6F7FB;
}

.adm_user_del_btn {
    min-height: 40px;
    background: #F6F7FB;
    border: 2px solid #393D46;
    box-shadow: none;
    border-radius: 0px;
    transition: all .1s;
    margin: 20px;
}

.adm_user_del_btn:hover {
    color: #F6F7FB;
    background: #393D46;
    border: 2px solid #393D46;
}

.color_pick_container {}

.product_container {
    margin: 0px 20px 20px 20px;
}

.product_container>* {
    margin-top: 20px;
}

.adm_product_price {
    padding: 0px;
    margin-right: 10px;
    background: white;
    border: 2px solid #393D46;
    box-shadow: none;
    padding: 5px;
    border-radius: 0px;
    outline: green;
}

.adm_product_sale {
    padding: 0px;
    margin-left: 10px;
    background: white;
    border: 2px solid #393D46;
    box-shadow: none;
    padding: 5px;
    border-radius: 0px;
}

.adm_product_container {
    background: #F6F7FB;
}

.adm_product_name {
    background: white;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid #393D46;
}

.product_container {
    background: #F6F7FB;
}

.adm_size_pick {
    background: white;
    border: 2px solid #393D46;
    box-shadow: none;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 0px;
    transition: all .1s;
}

.adm_pro_colorpick {
    background: white;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.adm_product_add {
    margin-top: 20px;
    border: 2px solid #393D46;
    background: #393D46;
    color: #F6F7FB;
    border: 2px solid #393D46;
    box-shadow: none;
    border-radius: 0px;
    transition: all .1s;
}

.adm_product_add:hover {
    background: #F6F7FB;
    color: #393D46;
}

.cart-head-label {
    background: #F6F7FB;
    color: #393D46;
    padding: 8px;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
}

.cart_confirm_btn {
    background: #393D46;
    color: #F6F7FB;
    padding: 8px;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
}

.cart_confirm_btn:hover {
    background: #F6F7FB;
    color: #393D46;
}

.user-cart-scroll {
    border: 0px;
    letter-spacing: 1px;
    background: white;
}

.cart_del_btn {
    margin: 8px;
    background: white;
    border: 1px solid #393D46;
    color: #393D46;
    padding: 8px;
    border-radius: 0px;
    box-shadow: none;
}

.cart_del_btn:hover {
    background: #393D46;
    color: #F6F7FB;
}

.product-show-case {
    margin-bottom: 40px;
}

.order-scroll {
    background: #F6F7FB;
}

.order_header {
    background: white;
    padding: 16px;
}

.order_label-header {
    background: #393D46;
    color: #F6F7FB;
    padding: 16px;
}

.order_label-sum {
    background: #0074D9;
    color: #7FDBFF;
    padding: 16px;
}

.order_label-resolve {
    background: #2ECC40;
    padding: 16px;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.order_label-resolve:hover {
    background: #01FF70;
}

.order_label {
    background: #F6F7FB;
    padding: 16px;
}